@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  overflow-x: hidden;

}
::-webkit-scrollbar{
  background-color: black;
  width: 9px;

  border-radius: 10px;
}
.videos {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
  justify-content: space-between;
  padding: 0 40px;
  height: 100vh;
  overflow: auto;
}
.videos::-webkit-scrollbar {
  background-color: black;
  width: 9px;
}
.videos::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .videos {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .videos {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    gap: 50px;
    padding: 20px;
  }
  .btn{
    margin-top: 30px;

    font-weight: bold;
    display: flex;
   justify-content: center;
   align-items: center;
  }

  
  
}
.row{
  display: grid;
  grid-template-columns: 169px auto;
  gap: 10px;
}

@media (max-width: 570px){
  .input{
    display: none;
    
  }
}
